body {
  background-color: rgba(0, 0, 0, .02);
}

.mdl-stepper-demo .mdl-stepper {
  margin: auto;
}
input.tgl-radio-tab-child {
  position: absolute;
  left: -99999em;
  top: -99999em;
  opacity: 1;
  z-index: 1;
}

input.tgl-radio-tab-child+label {
  cursor: pointer;
  float: left;
  border: 1px solid #aaa;
  margin-right: -1px;
  width:100%;
  height: 25vh;
  padding: 30px 35px;
  font-size: 25px;
  text-align: center;
  position: relative;
  border-radius: 4px;
  border-color: gainsboro;
}

input.tgl-radio-tab-child+label span{
  font-size: 40px;
}

.subscription.tgl-radio-tab-child i{
  color: black;
  position: relative;
  font-size: 35px;
}

input.tgl-radio-tab-child+label.monthly{
  padding: 32% 26%;
}

input.tgl-radio-tab-child+label:hover {
  background-color: rgba(23,75,140,0.8);
  transition: background-color 2s;
  color:white;
}

[type=radio]:checked+label {
  background-color: rgb(23,75,140);
  transition: color 2s;
  color:white;
  z-index: 1;
}

.subscription i{
  color: white;
  left: 84%;
  bottom: 135px;
  font-size: 25px;
  position: relative;
  z-index: 100000;
}
/* .mdl-stepper > .mdl-step > .mdl-step__content {
  background-color: rgba(0, 0, 0, 0.2);
} */

/* stepper */
@import "compass";

// Stepper
.stepper {
.nav-tabs {
    position: relative;
}
.nav-tabs > li {
    width: 25%;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        background: #f1f1f1;
        display: block;
        width: 100%;
        height: 5px;
        top: 30px;
        left: 50%;
        z-index: 1;
    }
    &.completed {
        &::after {
            background: #34bc9b;
        }
    }
    &:last-child {
        &::after {
            background: transparent;
        }
    }
    &.active:last-child {
        .round-tab {
            background: #34bc9b;
            &::after {
                content: '✔';
                color: #fff;
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                top: 0;
                display: block;
            }
        }
    }
}
.nav-tabs [data-toggle='tab'] {
    width: 25px;
    height: 25px;
    margin: 20px auto;
    border-radius: 100%;
    border: none;
    padding: 0;
    color: #f1f1f1;
}
.nav-tabs [data-toggle='tab']:hover {
    background: transparent;
    border: none;
}
.nav-tabs > .active > [data-toggle='tab'], .nav-tabs > .active > [data-toggle='tab']:hover, .nav-tabs > .active > [data-toggle='tab']:focus {
    color: #34bc9b;
    cursor: default;
    border: none;
}
.tab-pane {
    position: relative;
    padding-top: 50px;
}
.round-tab {
    width: 25px;
    height: 25px;
    line-height: 22px;
    display: inline-block;
    border-radius: 25px;
    background: #fff;
    border: 2px solid #34bc9b;
    color: #34bc9b;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 14px;

}
.completed .round-tab{
  background: #34bc9b;
  &::after {
    content: '✔';
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    display: block;
    }
}
.active .round-tab {
    background: #fff;
    border: 2px solid #34bc9b;
    &:hover {
        background: #fff;
        border: 2px solid #34bc9b;
    }
    &::after {
        display: none;
    }
}
.disabled .round-tab {
    background: #fff;
    color: #f1f1f1;
    border-color: #f1f1f1;
    &:hover {
        color: #4dd3b6;
        border: 2px solid #a6dfd3;
    }
    &::after {
        display: none;
    }
}
}
.logo h1{
text-align: center;
margin: 40px 0px;
}
.logo h1 a{
  color: white;
  text-decoration: none;
}
.list-inline li{
padding-right: 0px;
}
.btn{
border-radius: 0px;
padding: 8px 30px;
}
.btn-primary{
background: rgb(23,75,140);
}
.form-control{
border-radius: 0px;
}
.nav-pills{
padding: 15px 15px 0px 15px;
}
.nav-pills li.active a{
  background: rgb(23,75,140);
  border-radius: 5px;
}
.nav-pills li.active a:hover{
  background: rgba(23,75,140,0.9);
}

.panel.panel-default{
  width: 60%;
  margin: 0px auto;
}
