h1,h2,h3,h4{
	margin:0px;
}
.login_block_right{
	height: 100vh;
	width:35%;
	float: right;
	-webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
	clip-path: polygon(0 0, 100% 100%, 100% 0);
	background: rgb(23,75,140);
}
.login_block_left{
	width: 65%;
	height: 100vh;
	padding: 50px 0px 25px 80px;
	float:left;
}
.title{
	color: rgb(23,75,140);
	font-weight: 600;
	margin-bottom: 15px;
}
input[type=text],input[type="password"],input[type=email],input[type=file]{
	border-radius:0px!important;
	height:40px!important;
}
label{
	color: grey;
}
.btn_submit{
	border-radius: 0px;
	background-color: rgb(23,75,140);
	color: white;
	padding: 10px 35px;
	border:0px;
}

.btn_facebook{
	border-radius: 0px;
	background-color: rgb(66,103,178);
	color: white;
	padding: 10px 35px;
	border:0px;
}

.btn_google{
	border-radius: 0px;
	background-color: rgb(219,66,55);
	color: white;
	padding: 10px 35px;
	border:0px;
}

.btn_submit:hover{
	background-color: rgba(23,75,140,0.8);
	color: white;
}
.login_block_right_title{
	color: white;
    text-align: right;
    padding: 35px 35px 0px 0px;
    font-size: 70px;
}

.login_block_right_more{
	color: white;
    text-align: right;
    padding: 35px 35px 0px 180px;
    margin:0px;
    word-wrap: normal;
}
.form_group_block{
	margin:35px 0px;
}
.footer{
	position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding-left: 80px;
}
.login_with_social{
	margin-bottom: 25px;
}
.login_with_social a{
	text-decoration: none;
}

.login_with_social .btn_facebook:hover{
	background-color: rgba(66,103,178,0.8);
	color: white;
}

.login_with_social .btn_google:hover{
	background-color: rgba(219,66,55,0.8);
	color: white;
}

.registration_block_left{
	height: 100vh;
	padding:25px 40px 25px 40px!important;
}

.container-fluid{
	padding:0px!important;
}

.registration_block_right{
	height:100vh;
	background-color: #fafafa;
	border-left: 1px solid gainsboro;
	box-shadow:1px 1px 3px 1.6px gainsboro;
}

body.registration h1{
	color: rgb(23,75,140);
}

body.registration .content{
	padding: 35px;
	margin:15% 0px;
}

body.registration .content h3{
	color: rgb(23,75,140);
}

.block_left_title{
	margin-bottom:35px;
}

.steps_block{
	margin-top:50px;
	text-align: center;
}
.steps_block .steps{
	padding: 12px 17px;
	border-radius: 100%;
	font-size: 18px;
	color:rgb(23,75,140);
	font-weight: 600;
}

.steps_active{
	background-color:rgb(23,75,140);
	color: white!important;
	box-shadow:1px 1px 1px 0.6px gainsboro;

}

/*Input file style*/

input[type=file].inputfile-1{
	display: none;
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 10px 35px;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: rgb(23,75,140);
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: rgba(23,75,140,0.8);
}


/* style 2 */

.inputfile-2 + label {
    color: #d3394c;
    border: 2px solid currentColor;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
    color: #722040;
}


/* style 3 */

.inputfile-3 + label {
    color: #d3394c;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
    color: #722040;
}


/* style 4 */

.inputfile-4 + label {
    color: #d3394c;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
    color: #722040;
}

.inputfile-4 + label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #d3394c;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
    background-color: #722040;
}

.inputfile-4 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}


/* style 5 */

.inputfile-5 + label {
    color: #d3394c;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
    color: #722040;
}

.inputfile-5 + label figure {
    width: 100px;
    height: 135px;
    background-color: #d3394c;
    display: block;
    position: relative;
    padding: 30px;
    margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
    background-color: #722040;
}

.inputfile-5 + label figure::before,
.inputfile-5 + label figure::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}

.inputfile-5 + label figure::before {
    border-top: 20px solid #dfc8ca;
    border-left: 20px solid transparent;
}

.inputfile-5 + label figure::after {
    border-bottom: 20px solid #722040;
    border-right: 20px solid transparent;
}

.inputfile-5:focus + label figure::after,
.inputfile-5.has-focus + label figure::after,
.inputfile-5 + label:hover figure::after {
    border-bottom-color: #d3394c;
}

.inputfile-5 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}


/* style 6 */

.inputfile-6 + label {
    color: #d3394c;
}

.inputfile-6 + label {
    border: 1px solid #d3394c;
    background-color: #f1e5e6;
    padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #722040;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #f1e5e6;
    background-color: #d3394c;
    display: inline-block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #722040;
}

@media screen and (max-width: 50em) {
	.inputfile-6 + label strong {
		display: block;
	}
}

/* --end file input style */

input.tgl-radio-tab-child {
  position: absolute;
  left: -99999em;
  top: -99999em;
  opacity: 1;
  z-index: 1;
}

input.tgl-radio-tab-child+label {
  cursor: pointer;
  float: left;
  border: 1px solid #aaa;
  margin-right: -1px;
  width:100%;
  height: 25vh;
  padding: 30px 35px;
  font-size: 25px;
  text-align: center;
  position: relative;
  border-radius: 4px;
  border-color: gainsboro;
}

input.tgl-radio-tab-child+label span{
	font-size: 40px;
}

.subscription.tgl-radio-tab-child i{
	color: black;
	position: relative;
	font-size: 35px;
}

input.tgl-radio-tab-child+label.monthly{
	padding:58px;
}

input.tgl-radio-tab-child+label:hover {
  background-color: rgba(23,75,140,0.8);
  transition: background-color 2s;
  color:white;
}

[type=radio]:checked+label {
  background-color: rgb(23,75,140);
  transition: color 2s;
  color:white;
  z-index: 1;
}

.subscription i{
  color: white;
  left: 84%;
  bottom: 135px;
  font-size: 25px;
  position: relative;
  z-index: 100000;
}

.btn_submit_finish{
	border-radius: 0px;
	background-color: rgb(23,75,140);
	color: white;
	padding: 10px 55px;
	border:0px;
}

.btn_submit_finish:hover{
	background-color: rgba(23,75,140,0.8);
	color: white;
}

.subscription .btn_submit_finish{
	margin-top: 25%;
}

/*.subscription input[type=radio]:checked~i{
  color: white;
  z-index: 100000;
}*/

/*Registration Success*/
.registration_success i{
	font-size: 110px;
	color: rgb(153,204,51);
}

.registration_success_icon{
	width: 120px;
	height: auto;
	margin:10% auto 2% auto;
}

.registration_success_message{
	width: 600px;
	height: auto;
	margin:0 auto;
	text-align:center;
}

.registration_success_title{
	color: rgb(23,75,140);
}

.registration_success_description{
	font-size: 15px;
}
